<nav class="navbar navbar-expand-lg navbar-light bg-clairNavbar">
    <a class="navbar-brand" href="{{ path("applicant_index") }}"><img src="{{ asset('build/images/logoNavBar_noBg.png') }}" width="192px" height="74px" alt="logoOze"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav mt-3 mt-md-0">
                <a id="buttonNav" class="btn btn-bleuOze" class="nav-link" href="{{ path('home') }}">Revenir à l'accueil</a>
            </li>
        </ul>
    </div>
    <div class="logoright">
        <span class="icon-bar"> <img src="{{ asset('build/images/logoNoBg.png') }}" width="90%" height="90%" alt="logo2Oze"> </span>
    </div>
</nav>
