{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div id="home-list-overall">
            <div id="home-list-pictures">
                <div id="home-list-picture1">
                    <img id="diversite1" src="{{ asset('build/images/logoNavBar_noBg.png') }}" alt="Image Ozé La Diversité avec logo" class="responsive">
                </div>
            </div>
            <h1>Bienvenue</h1>
            <div class="container" id="home-list">
                <div id="home-list-of-buttons">
                    <a href="{{ path("applicant_index") }}"><button type="button" class="btn btn-bleuOze btn-lg btn-block" id="home-list-buttons">Candidat</button></a>
                    <a href="{{ path("company_index") }}"><button type="button" class="btn btn-orangeOze btn-lg btn-block" id="home-list-buttons">Entreprise</button></a>
                </div>
                <img id="diversityBig1" src="{{ asset('build/images/diversityBig1.jpg') }}" height="350" width="500" class="ml-2" alt="Montage d'images de différentes personnes représentant la diversité">
            </div>
        </div>
{% endblock %}
