{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <div id="home-list-pictures">
        <img id="diversite1" src="{{ asset('build/images/logoNavBar_noBg.png') }}" alt="Image Ozé La Diversité avec logo">
        <img id="diversite2" src="{{ asset('build/images/logoNoBg.png') }}" alt="Logo Ozé La Diversité">
        </div>
        <h1>Bienvenue</h1>
        <div class="container" id="home-list">
            <div id="home-list-of-buttons">
                <button type="button" class="btn btn-bleuOze btn-lg btn-block" id="home-list-buttons">Candidat</button>
                <button type="button" class="btn btn-orangeOze btn-lg btn-block" id="home-list-buttons">Entreprise</button>
            </div>
            <img id="diversity1" src="{{ asset('build/images/diversity1.jpg') }}" width="50%" height="100%" class="ml-2" alt="Montage d'images de différentes personnes représentant la diversité">
        </div>
    </main>
{% endblock %}