{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    {% include '/applicant/_navbar.html.twig' %}
    <div class="card" id="legalTerms">
        <div class="card-header">
             
        </div>
        <div class="card-body">
            <h1 class="card-title">Mentions légales</h1>
            <h5 id="legalTermsTitle">- D&eacute;finitions -</h5>
            <p>
                <strong>Le Responsable</strong>
                <span>&nbsp;: Madame</span>
                <strong>&nbsp;Sophie DIENG</strong>
                <span>&nbsp;agissant en qualit&eacute; de repr&eacute;sentante de l&rsquo;entreprise </span>
                <strong>Oz&eacute; la diversit&eacute; </strong>
                <span>immatricul&eacute;e au RCS de Grenoble n&deg;88488857900014, dont le si&egrave;ge social se situe 113 galerie de l&rsquo;Arlequin, 38100, GRENOBLE. &nbsp;</span>
            </p>
            <p>
                <strong>Client :</strong>
                <span>&nbsp;tout professionnel ou personne physique capable au sens des articles 1145 et suivants du Code civil, ou personne morale, qui visite le Site objet des pr&eacute;sentes conditions g&eacute;n&eacute;rales.</span>
            </p>
            <p>
                <strong>Prestations et Services :</strong>
                <span>&nbsp;</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996271000&amp;usg=AOvVaw0iKDwvbeitF0HgG97I240v">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;</span>
                <span>met &agrave; disposition des Clients :</span>
            </p>
            <p>
                <strong>Contenu :</strong>
                <span>&nbsp;Ensemble des &eacute;l&eacute;ments constituants l&rsquo;information pr&eacute;sente sur le Site, notamment textes &ndash; images &ndash; vid&eacute;os.</span>
            </p>
            <p>
                <strong>Informations clients :</strong>
                <span>&nbsp;Ci-apr&egrave;s d&eacute;nomm&eacute; &laquo; Information (s) &raquo; qui correspondent &agrave; l&rsquo;ensemble des donn&eacute;es personnelles susceptibles d&rsquo;&ecirc;tre d&eacute;tenues par la soci&eacute;t&eacute; </span>
                <strong>Oz&eacute; la diversit&eacute;</strong>
                <span>&nbsp;pour la gestion de votre compte client, de la gestion de la relation client, d&rsquo;aide &agrave; la recherche d&rsquo;emploi et &agrave; des fins d&rsquo;analyses et de statistiques. </span>
            </p>
            <p>
                <strong>Utilisateur :</strong>
                <span>&nbsp;Internaute se connectant, utilisant le site susnomm&eacute;.</span>
            </p>
            <p>
                <strong>Informations personnelles :</strong>
                <span>&nbsp;&laquo; Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l&#39;identification des personnes physiques auxquelles elles s&#39;appliquent &raquo; (article 4 de la loi n&deg; 78-17 du 6 janvier 1978).</span>
            </p>
            <p>
                <span>Les termes &laquo; donn&eacute;es &agrave; caract&egrave;re personnel &raquo;, &laquo; personne concern&eacute;e &raquo;, &laquo; sous traitant &raquo; et &laquo; donn&eacute;es sensibles &raquo; ont le sens d&eacute;fini par le R&egrave;glement G&eacute;n&eacute;ral sur la Protection des Donn&eacute;es (RGPD : n&deg; 2016-679).</span>
            </p>
            <p>
                <span></span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 1 - Pr&eacute;sentation du site internet</h5>
            </p>
            <p>
                <span>En vertu de l&#39;article 6 de la loi n&deg; 2004-575 du 21 juin 2004 pour la confiance dans l&#39;&eacute;conomie num&eacute;rique, il est pr&eacute;cis&eacute; aux utilisateurs du site internet </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996272000&amp;usg=AOvVaw1D2PulduUgfEyIVavAB5AB">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;</span>
                <span>l&#39;identit&eacute; des diff&eacute;rents intervenants dans le cadre de sa r&eacute;alisation et de son suivi:</span>
            </p>
            <p>
                <strong>Propri&eacute;taire</strong>
                <span>&nbsp;: Madame Sophie DIENG &ndash; R.C.S Grenoble n&deg;88488857900014 - 113 galerie de l&rsquo;Arlequin, 38100, GRENOBLE &nbsp;&ndash; +33695010868.</span>
            </p>
            <p>
                <strong>Responsable publication</strong>
                <span>&nbsp;: Madame Sophie DIENG &ndash; contact@ozeladiversite.com</span>
            </p>
            <p>
                <strong>Webmaster</strong>
                <span>: Sophie DIENG</span>
                <span>&nbsp;&ndash;</span>
                <span>&nbsp;contact@ozeladiversite.com</span>
            </p>
            <p>
                <strong>H&eacute;bergeur</strong>
                <span>&nbsp;: Amazon Web Services EMEA SARL (AWS Europe) - </span>
                <span>Adresse &agrave; d&eacute;finir je pense que c&rsquo;est Dublin</span>
                <span>&nbsp;</span>
                <span>mais en tout cas il faut une adresse en Europe </span>
            </p>
            <p>
                <span>Ainsi que toute personne l&eacute;galement autoris&eacute;e &agrave; acc&eacute;der aux donn&eacute;es (services judiciaires, le cas &eacute;ch&eacute;ant).</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 2 - Dur&eacute;e des donn&eacute;es</h5>
            </p>
            <p>
                <span>La dur&eacute;e de traitement des donn&eacute;es est limit&eacute;e au temps pendant lequel vous disposez d&rsquo;un compte sur notre site internet, sauf si : </span>
            </p>
            <ul>
                <li>
                    <span>Vous exercez votre droit de portabilit&eacute; ou de suppression des donn&eacute;es vous concernant, dans les conditions d&eacute;crites ci-apr&egrave;s ; </span>
                </li>
                <li>
                    <span>Une dur&eacute;e de conservation plus longue est autoris&eacute;e ou impos&eacute;e en vertu d&rsquo;une disposition l&eacute;gale ou r&eacute;glementaire.</span>
                </li>
            </ul>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 3 - Objet du traitement des donn&eacute;es</h5>
            </p>
            <p>
                <span>La fourniture de votre nom, pr&eacute;nom, sexe, adresse postale, num&eacute;ro de t&eacute;l&eacute;phone et curriculum vitae &nbsp;est n&eacute;cessaire pour la cr&eacute;ation de votre compte dans le but de vous accompagner dans votre recherche d&rsquo;emploi. La communication de votre email permet de recevoir les communications de notre part. </span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 4 - Conditions g&eacute;n&eacute;rales d&rsquo;utilisation du site et des services propos&eacute;s</h5>
            </p>
            <p>
                <span>Le Site constitue une &oelig;uvre de l&rsquo;esprit prot&eacute;g&eacute;e par les dispositions du Code de la Propri&eacute;t&eacute; Intellectuelle et des R&eacute;glementations Internationales applicables. Le Client ne peut en aucune mani&egrave;re r&eacute;utiliser, c&eacute;der ou exploiter pour son propre compte tout ou partie des &eacute;l&eacute;ments ou travaux du Site.</span>
            </p>
            <p>
                <span>L&rsquo;utilisation du site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996274000&amp;usg=AOvVaw3Su52eY3U4te6zadK6j6WC">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;implique l&rsquo;acceptation pleine et enti&egrave;re des conditions g&eacute;n&eacute;rales d&rsquo;utilisation ci-apr&egrave;s d&eacute;crites. Ces conditions d&rsquo;utilisation sont susceptibles d&rsquo;&ecirc;tre modifi&eacute;es ou compl&eacute;t&eacute;es &agrave; tout moment, les utilisateurs du site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996275000&amp;usg=AOvVaw26uaLK5twL85av_YuB8eW1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;sont donc invit&eacute;s &agrave; les consulter de mani&egrave;re r&eacute;guli&egrave;re.</span>
            </p>
            <p>
                <span>Ce site internet est normalement accessible &agrave; tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut &ecirc;tre toutefois d&eacute;cid&eacute;e par le Responsable, qui s&rsquo;efforcera alors de communiquer pr&eacute;alablement aux utilisateurs les dates et heures de l&rsquo;intervention. Le site web </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996275000&amp;usg=AOvVaw26uaLK5twL85av_YuB8eW1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;est mis &agrave; jour r&eacute;guli&egrave;rement par le responsable. De la m&ecirc;me fa&ccedil;on, les mentions l&eacute;gales peuvent &ecirc;tre modifi&eacute;es &agrave; tout moment, elles s&rsquo;imposent n&eacute;anmoins &agrave; l&rsquo;utilisateur qui est invit&eacute; &agrave; s&rsquo;y r&eacute;f&eacute;rer le plus souvent possible afin d&rsquo;en prendre connaissance.</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 5 - Description des services fournis</h5>
            </p>
            <p>
                <span>Le site internet </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996275000&amp;usg=AOvVaw26uaLK5twL85av_YuB8eW1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;a pour objet de fournir une information concernant l&rsquo;ensemble des activit&eacute;s de la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; qui s&rsquo;efforce de fournir sur le site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996276000&amp;usg=AOvVaw1w9kf90da2nP9uLMr5l4e1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;des informations aussi pr&eacute;cises que possible. Toutefois, elle ne pourra &ecirc;tre tenue responsable des oublis, des inexactitudes et des carences dans la mise &agrave; jour, qu&rsquo;elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</span>
            </p>
            <p>
                <span>Toutes les informations indiqu&eacute;es sur le site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996276000&amp;usg=AOvVaw1w9kf90da2nP9uLMr5l4e1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;sont donn&eacute;es &agrave; titre indicatif et sont susceptibles d&rsquo;&eacute;voluer. Par ailleurs, les renseignements figurant sur le site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996276000&amp;usg=AOvVaw1w9kf90da2nP9uLMr5l4e1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;ne sont pas exhaustifs. Ils sont donn&eacute;s sous r&eacute;serve de modifications ayant &eacute;t&eacute; apport&eacute;es depuis leur mise en ligne.</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 6 - Limitations contractuelles sur les donn&eacute;es techniques</h5>
            </p>
            <p>
                <span>Le site Internet ne pourra &ecirc;tre tenu responsable de dommages mat&eacute;riels li&eacute;s &agrave; l&rsquo;utilisation du site. De plus, l&rsquo;utilisateur du site s&rsquo;engage &agrave; acc&eacute;der au site en utilisant un mat&eacute;riel r&eacute;cent, ne contenant pas de virus et avec un navigateur de derni&egrave;re g&eacute;n&eacute;ration mis &agrave; jour.</span>
            </p>
            <p>
                <span>Le site </span>
                <span>
					<a ref="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996277000&amp;usg=AOvVaw24Fs5AlyTHfTCuWcMgr1nI">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;est h&eacute;berg&eacute; chez un prestataire sur le territoire de l&rsquo;Union Europ&eacute;enne conform&eacute;ment aux dispositions du R&egrave;glement G&eacute;n&eacute;ral sur la Protection des Donn&eacute;es (RGPD : n&deg; 2016-679).</span>
            </p>
            <p>
                <span>L&rsquo;objectif est d&rsquo;apporter une prestation qui assure le meilleur taux d&rsquo;accessibilit&eacute;. L&rsquo;h&eacute;bergeur assure la continuit&eacute; de son service 24 Heures sur 24, tous les jours de l&rsquo;ann&eacute;e. Il se r&eacute;serve n&eacute;anmoins la possibilit&eacute; d&rsquo;interrompre le service d&rsquo;h&eacute;bergement pour les dur&eacute;es les plus courtes possibles notamment &agrave; des fins de maintenance, d&rsquo;am&eacute;lioration de ses infrastructures, de d&eacute;faillance de ses infrastructures ou si les Prestations et Services g&eacute;n&egrave;rent un trafic r&eacute;put&eacute; anormal.</span>
            </p>
            <p>
                <span>Le site</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996278000&amp;usg=AOvVaw0aO-Zvph66POquUMlHKxK9">&nbsp;</a>
				</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996278000&amp;usg=AOvVaw0aO-Zvph66POquUMlHKxK9">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;et l&rsquo;h&eacute;bergeur ne pourront &ecirc;tre tenus responsables en cas de dysfonctionnement du r&eacute;seau Internet, des lignes t&eacute;l&eacute;phoniques ou du mat&eacute;riel informatique et de t&eacute;l&eacute;phonie li&eacute; notamment &agrave; l&rsquo;encombrement du r&eacute;seau emp&ecirc;chant l&rsquo;acc&egrave;s au serveur.</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 7 - Propri&eacute;t&eacute; intellectuelle et contrefa&ccedil;ons</h5>
            </p>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; est propri&eacute;taire des droits de propri&eacute;t&eacute; intellectuelle et d&eacute;tient les droits d&rsquo;usage sur tous les &eacute;l&eacute;ments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vid&eacute;os, ic&ocirc;nes et sons. Toute reproduction, repr&eacute;sentation, modification, publication, adaptation de tout ou partie des &eacute;l&eacute;ments du site, quel que soit le moyen ou le proc&eacute;d&eacute; utilis&eacute;, est interdite, sauf autorisation &eacute;crite pr&eacute;alable du Responsable.</span>
            </p>
            <p>
                <span>Toute exploitation non autoris&eacute;e du site ou de l&rsquo;un quelconque des &eacute;l&eacute;ments qu&rsquo;il contient seront consid&eacute;r&eacute;s comme constitutifs d&rsquo;une contrefa&ccedil;on et poursuivie conform&eacute;ment aux dispositions des articles L. 335-2 et suivants du Code de Propri&eacute;t&eacute; Intellectuelle.</span>
            </p>
            <p>
                <span></span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 8 - Limitations de responsabilit&eacute;</h5>
            </p>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; en tant qu&rsquo;&eacute;diteur du site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996279000&amp;usg=AOvVaw3leavs3btiMdWK2DydSFBQ">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;est responsable de la qualit&eacute; et de la v&eacute;racit&eacute; du contenu qu&rsquo;il publie.</span>
            </p>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; ne pourra &ecirc;tre tenue responsable des dommages directs et indirects caus&eacute;s au mat&eacute;riel de l&rsquo;utilisateur, lors de l&rsquo;acc&egrave;s au site internet </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996280000&amp;usg=AOvVaw2f0F_TcXL42L86s6IkiRcB">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;et r&eacute;sultant soit de l&rsquo;utilisation d&rsquo;un mat&eacute;riel ne r&eacute;pondant pas aux sp&eacute;cifications indiqu&eacute;es au point 6, soit de l&rsquo;apparition d&rsquo;un bug ou d&rsquo;une incompatibilit&eacute;.</span>
            </p>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute;</span>
                <span>&nbsp;</span>
                <span>ne pourra &eacute;galement &ecirc;tre tenue responsable des dommages indirects cons&eacute;cutifs &agrave; l&rsquo;utilisation du</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996280000&amp;usg=AOvVaw2f0F_TcXL42L86s6IkiRcB">&nbsp;</a>
				</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996280000&amp;usg=AOvVaw2f0F_TcXL42L86s6IkiRcB">https://www.ozeladiversite.com</a>
				</span>
                <span>. </span>
            </p>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; se r&eacute;serve le droit de supprimer, sans mise en demeure pr&eacute;alable, tout contenu d&eacute;pos&eacute; dans cet espace qui contreviendrait &agrave; la l&eacute;gislation applicable en France, en particulier aux dispositions relatives &agrave; la protection des donn&eacute;es. Le cas &eacute;ch&eacute;ant,la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; se r&eacute;serve &eacute;galement la possibilit&eacute; de mettre en cause la responsabilit&eacute; civile et/ou p&eacute;nale de l&rsquo;utilisateur, notamment en cas de message &agrave; caract&egrave;re raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilis&eacute; (texte, photographie etc.).</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 9 - Gestion des donn&eacute;es personnelles</h5>
            </p>
            <p>
                <span>Le Client est inform&eacute; des r&eacute;glementations concernant la communication marketing, la loi n&deg; 2004-575 du 21 Juin 2004 pour la confiance dans l&rsquo;Economie Num&eacute;rique, la loi n&deg; 2004-801 Informatique et Libert&eacute; du 06 Ao&ucirc;t 2004, la loi n&deg; 2018-493 du 20 juin 2018 relative &agrave; la protection des donn&eacute;es personnelles ainsi que le R&egrave;glement G&eacute;n&eacute;ral sur la Protection des Donn&eacute;es (RGPD : n&deg; 2016-679).</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 9.1 - Responsables de la collecte des donn&eacute;es personnelles</h5>
            </p>
            <p>
                <span>Pour les Donn&eacute;es Personnelles collect&eacute;es dans le cadre de la cr&eacute;ation du compte personnel de l&rsquo;Utilisateur et de sa navigation sur le Site, le responsable du traitement des Donn&eacute;es Personnelles est : Madame Sophie DIENG -</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996282000&amp;usg=AOvVaw2po6ziGHFKQC7G2Ub9IWEV">&nbsp;</a>
				</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996282000&amp;usg=AOvVaw2po6ziGHFKQC7G2Ub9IWEV">https://www.ozeladiversite.com</a>
				</span>
                <span>. </span>
            </p>
            <p>
                <span>En tant que responsable du traitement des donn&eacute;es qu&rsquo;elle collecte, Madame Sophie DIENG s&rsquo;engage &agrave; respecter le cadre des dispositions l&eacute;gales en vigueur. Il lui appartient notamment d&rsquo;&eacute;tablir les finalit&eacute;s de ses traitements de donn&eacute;es, de fournir &agrave; ses prospects et clients, &agrave; partir de la collecte de leurs consentements, une information compl&egrave;te sur le traitement de leurs donn&eacute;es personnelles et de maintenir un registre des traitements conforme &agrave; la r&eacute;alit&eacute;. </span>
            </p>
            <p>
                <span>Chaque fois que</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996282000&amp;usg=AOvVaw2po6ziGHFKQC7G2Ub9IWEV">&nbsp;</a>
				</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996283000&amp;usg=AOvVaw3OKzTneENDzXZj3jsuAnh9">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;traite des donn&eacute;es personnelles, Madame Sophie DIENG prend toutes les mesures raisonnables pour s&rsquo;assurer de l&rsquo;exactitude et de la pertinence des donn&eacute;es personnelles au regard des finalit&eacute;s pour lesquelles le Site les traite.</span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 9.2 - Finalit&eacute; des donn&eacute;es collect&eacute;es</h5>
            </p>
            <p>
                <span>Madame Sophie DIENG est susceptible de traiter tout ou partie des donn&eacute;es :</span>
            </p>
            <ul>
                <li>
                    <span>pour permettre la navigation sur le Site et la gestion et la tra&ccedil;abilit&eacute; des prestations et services command&eacute;s par l&rsquo;utilisateur : donn&eacute;es de connexion et d&rsquo;utilisation du Site; </span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>pour pr&eacute;venir et lutter contre la fraude informatique (spamming, hacking etc.) : mat&eacute;riel informatique utilis&eacute; pour la navigation, l&rsquo;adresse IP, le mot de passe (hash&eacute;) ;</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>pour am&eacute;liorer la navigation sur le Site : donn&eacute;es de connexion et d&rsquo;utilisation ;</span>
                </li>
                <li>
                    <span>pour accompagner l&rsquo;Utilisateur dans sa recherche d&rsquo;emploi : son nom, pr&eacute;nom, sexe, date de naissance et adresse postale et &nbsp;num&eacute;ro de t&eacute;lphone ;</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>pour mener des enqu&ecirc;tes de satisfaction facultatives sur</span>
                    <span>&nbsp;</span>
                    <span>
						<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996284000&amp;usg=AOvVaw2jLVLbHkbYQYwwLSFtpDOz">https://www.ozeladiversite.com</a>
					</span>
                    <span>; </span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>pour mener des campagnes de communication (par sms ou mail) : num&eacute;ro de t&eacute;l&eacute;phone et adresse email.</span>
                </li>
            </ul>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; </span>
                <span>ne commercialise pas vos donn&eacute;es personnelles qui sont uniquement utilis&eacute;es par n&eacute;cessit&eacute;, pour le bon fonctionnement du site ou &agrave; des fins statistiques et d&rsquo;analyses.</span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 9.3 - Droit d&rsquo;acc&egrave;s, de rectification et d&rsquo;opposition</h5>
            </p>
            <p>
                <span>Conform&eacute;ment au r&egrave;glement relatif &agrave; la protection des donn&eacute;es n&deg; 2016-679 (RGPD), les Utilisateurs de </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996286000&amp;usg=AOvVaw1vNnkESireTcPhc0XKUicc">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;disposent des droits suivants :</span>
            </p>
            <ul>
                <li>
                    <span>droit d&#39;acc&egrave;s (article 15 RGPD) et de rectification (article 16 RGPD), de mise &agrave; jour, de compl&eacute;tude des donn&eacute;es des Utilisateurs droit de verrouillage ou d&rsquo;effacement des donn&eacute;es des Utilisateurs &agrave; caract&egrave;re personnel (article 17 du RGPD), lorsqu&rsquo;elles sont inexactes, incompl&egrave;tes, &eacute;quivoques, p&eacute;rim&eacute;es, ou dont la collecte, l&#39;utilisation, la communication ou la conservation est interdite ;</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>droit de retirer &agrave; tout moment un consentement (article 13-2c RGPD) ;</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>droit &agrave; la limitation du traitement des donn&eacute;es des Utilisateurs (article 18 RGPD) ;</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>droit d&rsquo;opposition au traitement des donn&eacute;es des Utilisateurs (article 21 RGPD) ;</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>droit &agrave; la portabilit&eacute; des donn&eacute;es que les Utilisateurs auront fournies, lorsque ces donn&eacute;es font l&rsquo;objet de traitements automatis&eacute;s fond&eacute;s sur leur consentement ou sur un contrat (article 20 RGPD) ;</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span>droit de d&eacute;finir le sort des donn&eacute;es de l&rsquo;Utilisateur apr&egrave;s sa mort et de choisir &agrave; qui la soci&eacute;t&eacute; </span>
                    <strong>Oz&eacute; la diversit&eacute; </strong>
                    <span>devra communiquer ou non ses donn&eacute;es &agrave; un tiers qu&rsquo;il aura pr&eacute;alablement d&eacute;sign&eacute; ; </span>
                    <span>&nbsp;</span>
                </li>
            </ul>
            <p>
                <span>D&egrave;s que la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; a connaissance du d&eacute;c&egrave;s d&rsquo;un Utilisateur et &agrave; d&eacute;faut d&rsquo;instructions de sa part, elle s&rsquo;engage &agrave; d&eacute;truire ses donn&eacute;es, sauf si leur conservation s&rsquo;av&egrave;re n&eacute;cessaire &agrave; des fins probatoires ou pour r&eacute;pondre &agrave; une obligation l&eacute;gale.</span>
            </p>
            <p>
                <span>Si l&rsquo;Utilisateur souhaite savoir comment le site &nbsp;</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996288000&amp;usg=AOvVaw1ubmGoa8OHeG8TMifbGwG9">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;utilise ses donn&eacute;es personnelles, les rectifier ou s&rsquo;opposer &agrave; leur traitement, l&rsquo;Utilisateur peut contacter Madame Sophie DIENG &nbsp;par &eacute;crit &agrave; l&rsquo;adresse suivante :</span>
            </p>
            <p>
                <span>113 galerie de l&rsquo;Arlequin, 38100, GRENOBLE</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>Dans ce cas, l&rsquo;Utilisateur doit indiquer les donn&eacute;es personnelles qu&rsquo;il souhaiterait que la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; corrige, mette &agrave; jour ou supprime, en s&rsquo;identifiant pr&eacute;cis&eacute;ment avec une copie d&rsquo;une pi&egrave;ce d&rsquo;identit&eacute; (carte d&rsquo;identit&eacute; ou passeport).</span>
            </p>
            <p>
                <span>Les demandes de suppression de donn&eacute;es personnelles seront soumises aux obligations qui sont impos&eacute;es &agrave; la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; par la loi, notamment en mati&egrave;re de conservation ou d&rsquo;archivage des documents. </span>
            </p>
            <p>
                <span>Enfin, les Utilisateurs de </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996289000&amp;usg=AOvVaw1XLKUZitH6zZqItr1A-PT1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;peuvent d&eacute;poser une r&eacute;clamation aupr&egrave;s des autorit&eacute;s de contr&ocirc;le, et notamment de la Commission Nationale de l&rsquo;Informatique et des Libert&eacute;s (</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.cnil.fr/fr/plaintes&amp;sa=D&amp;ust=1611744996289000&amp;usg=AOvVaw1G92DdoN_2WY-8n028iuAu">https://www.cnil.fr/fr/plaintes</a>
				</span>
                <span>).</span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 9.4 - Non-communication des donn&eacute;es personnelles</h5>
            </p>
            <p>
                <span></span>
            </p>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; s&rsquo;interdit de traiter, h&eacute;berger ou transf&eacute;rer les Informations collect&eacute;es sur ses Utilisateurs vers un pays situ&eacute; en dehors de l&rsquo;Union europ&eacute;enne ou reconnu comme &laquo; inad&eacute;quat &raquo; par la Commission europ&eacute;enne sans en informer pr&eacute;alablement l&rsquo;Utilisateur. Pour autant, la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; reste libre du choix de ses sous-traitants techniques et commerciaux &agrave; la condition qu&rsquo;ils pr&eacute;sentent les garanties suffisantes au regard des exigences du R&egrave;glement G&eacute;n&eacute;ral sur la Protection des Donn&eacute;es (RGPD : n&deg; 2016-679).</span>
            </p>
            <p>
                <span>La soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; s&rsquo;engage &agrave; prendre toutes les pr&eacute;cautions n&eacute;cessaires afin de pr&eacute;server la s&eacute;curit&eacute; des Informations et notamment qu&rsquo;elles ne soient pas communiqu&eacute;es &agrave; des personnes non autoris&eacute;es. Cependant, si un incident impactant l&rsquo;int&eacute;grit&eacute; ou la confidentialit&eacute; des Informations du Client est port&eacute; &agrave; la connaissance de la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute;, il devra dans les meilleurs d&eacute;lais informer l&rsquo;utilisateur et lui communiquer les mesures de corrections prises. Par ailleurs, la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; ne collecte aucune &laquo; donn&eacute;es sensibles &raquo;.</span>
            </p>
            <p>
                <span">Les donn&eacute;es personnelles de l&rsquo;Utilisateur peuvent &ecirc;tre trait&eacute;es des sous-traitants (prestataires de services), exclusivement afin de r&eacute;aliser les finalit&eacute;s de la pr&eacute;sente politique.</span>
            </p>
            <p>
                <span>Dans la limite de leurs attributions respectives et pour les finalit&eacute;s rappel&eacute;es ci-dessus, les principales personnes susceptibles d&rsquo;avoir acc&egrave;s aux donn&eacute;es des Utilisateurs du site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996291000&amp;usg=AOvVaw0NAeKZQ646N3jjIvRS7kLR">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;sont principalement les agents de notre service client.</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 10 - Notification d&rsquo;incident</h5>
            </p>
            <p>
                <span>Il convient de rappeler qu&rsquo;aucune m&eacute;thode de transmission sur Internet et aucune m&eacute;thode de stockage &eacute;lectronique ne sont compl&egrave;tement s&ucirc;res. Nous ne pouvons en cons&eacute;quence pas garantir une s&eacute;curit&eacute; absolue. Si nous prenions connaissance d&#39;une br&egrave;che de la s&eacute;curit&eacute;, nous avertirions les Utilisateurs concern&eacute;s et l&rsquo;autorit&eacute; comp&eacute;tente dans un d&eacute;lai de 72 heures &agrave; partir de la connaissance de ladite br&egrave;che. </span>
            </p>
            <p>
                <span>Nous nous engageons &agrave; informer pleinement nos Utilisateurs de toutes les questions relevant de la s&eacute;curit&eacute; de leur compte.</span>
            </p>
            <p>
                <span>Nos proc&eacute;dures de notification d&rsquo;incident tiennent compte de nos obligations l&eacute;gales, qu&#39;elles se situent au niveau national ou europ&eacute;en. </span>
            </p>
            <p>
                <span>Aucune information personnelle de l&#39;Utilisateur du site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996292000&amp;usg=AOvVaw2OOXvCd5_59BVsZuGQgra1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;n&#39;est publi&eacute;e &agrave; l&#39;insu de l&#39;utilisateur, &eacute;chang&eacute;e, transf&eacute;r&eacute;e, c&eacute;d&eacute;e ou vendue sur un support quelconque &agrave; des tiers. </span>
            </p>
            <p>
                <span>Seule l&#39;hypoth&egrave;se du rachat de site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996292000&amp;usg=AOvVaw2OOXvCd5_59BVsZuGQgra1">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;et de ses droits permettrait la transmission des dites informations &agrave; l&#39;&eacute;ventuel acqu&eacute;reur qui serait &agrave; son tour tenu de la m&ecirc;me obligation de conservation et de modification des donn&eacute;es vis-&agrave;-vis de l&#39;Utilisateur du site &nbsp;</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996292000&amp;usg=AOvVaw2OOXvCd5_59BVsZuGQgra1">https://www.ozeladiversite.com</a>
				</span>
                <span>.</span>
            </p>
            <p>
                <span></span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 11 - S&eacute;curit&eacute;</h5>
            </p>
            <p>
                <span>Pour assurer la s&eacute;curit&eacute; et la confidentialit&eacute; des donn&eacute;es personnelles, le site &nbsp;</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996293000&amp;usg=AOvVaw1MQxSBcH8f0LYItLj_COcs">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;utilise des r&eacute;seaux prot&eacute;g&eacute;s par des dispositifs standards tels que &nbsp;pare-feu, la pseudonymisation, l&rsquo;encryption et le mot de passe. </span>
                <span>&nbsp;</span>
            </p>
            <p>
                <span>Lors du traitement des donn&eacute;es personnelles, la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; prend toutes les mesures raisonnables visant &agrave; les prot&eacute;ger contre toute perte, utilisation d&eacute;tourn&eacute;e, acc&egrave;s non autoris&eacute;, divulgation, alt&eacute;ration ou destruction.</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 12 - Liens hypertextes &laquo; cookies &raquo; et balises (&ldquo;tags&rdquo;) internet</h5>
            </p>
            <p class="c14">
                <span class="c0">Le site &nbsp;</span>
                <span class="c6 c0">
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996294000&amp;usg=AOvVaw0xvo39-VUamFC1mhRgdHIs">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;contient un certain nombre de liens hypertextes vers d&rsquo;autres sites, mis en place avec l&rsquo;autorisation de site</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996294000&amp;usg=AOvVaw0xvo39-VUamFC1mhRgdHIs">https://www.ozeladiversite.com</a>
				</span>
                <span>. Cependant, le site &nbsp;</span>
                <span>
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996294000&amp;usg=AOvVaw0xvo39-VUamFC1mhRgdHIs">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;n&rsquo;a pas la possibilit&eacute; de v&eacute;rifier le contenu des sites ainsi visit&eacute;s, et n&rsquo;assumera en cons&eacute;quence aucune responsabilit&eacute; de ce fait.</span>
            </p>
            <p>
                <span>Sauf si vous d&eacute;cidez de d&eacute;sactiver les cookies, vous acceptez que le site puisse les utiliser. Vous pouvez &agrave; tout moment d&eacute;sactiver ces cookies et ce gratuitement &agrave; partir des possibilit&eacute;s de d&eacute;sactivation qui vous sont offertes et rappel&eacute;es ci-apr&egrave;s, sachant que cela peut r&eacute;duire l&rsquo;accessibilit&eacute; &agrave; tout ou partie des Services propos&eacute;s par le site.</span>
            </p>
            <p>
                <span> </span>
            </p>
            <p>
            <p>
                <span>&nbsp;</span>
            </p>
            <h5 id="legalTermsTitle">- 12.1 - « COOKIES &raquo;</h5>
            </p>
            <p>
                <span>Un &laquo; cookie &raquo; est un petit fichier d&rsquo;information envoy&eacute; sur le navigateur de l&rsquo;Utilisateur et enregistr&eacute; au sein du terminal (ordinateur ou smartphone) de l&rsquo;Utilisateur), ci-apr&egrave;s d&eacute;nomm&eacute; &nbsp;&laquo; Cookies &raquo;. Ce fichier comprend des informations telles que le nom de domaine de l&rsquo;Utilisateur, le fournisseur d&rsquo;acc&egrave;s Internet de l&rsquo;Utilisateur, le syst&egrave;me d&rsquo;exploitation de l&rsquo;Utilisateur, ainsi que la date et l&rsquo;heure d&rsquo;acc&egrave;s. Les Cookies ne risquent en aucun cas d&rsquo;endommager le terminal de l&rsquo;Utilisateur.</span>
            </p>
            <p>
                <span>la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; est susceptible de traiter les informations de l&rsquo;Utilisateur concernant sa visite du Site, telles que les pages consult&eacute;es, les recherches effectu&eacute;es. Ces informations permettent &agrave; </span>
                <span>&nbsp;</span>
                <span>la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; d&rsquo;am&eacute;liorer le contenu du Site et la navigation de l&rsquo;Utilisateur.</span>
            </p>
            <p>
                <span>Les Cookies facilitant la navigation et/ou la fourniture des services propos&eacute;s par le Site, l&rsquo;Utilisateur peut configurer son navigateur pour qu&rsquo;il lui permette de d&eacute;cider s&rsquo;il souhaite ou non les accepter de mani&egrave;re &agrave; ce que des Cookies soient enregistr&eacute;s dans le terminal ou, au contraire, qu&rsquo;ils soient rejet&eacute;s, soit syst&eacute;matiquement, soit selon leur &eacute;metteur. L&rsquo;Utilisateur peut &eacute;galement configurer son logiciel de navigation de mani&egrave;re &agrave; ce que l&rsquo;acceptation ou le refus des Cookies lui soient propos&eacute;s ponctuellement, avant qu&rsquo;un Cookie soit susceptible d&rsquo;&ecirc;tre enregistr&eacute; dans son terminal. Le site</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996296000&amp;usg=AOvVaw3Xeh7PemNuHp1B4uoET2Vm">&nbsp;</a>
				</span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996296000&amp;usg=AOvVaw3Xeh7PemNuHp1B4uoET2Vm">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;informe l&rsquo;Utilisateur que, dans ce cas, il se peut que les fonctionnalit&eacute;s de son logiciel de navigation ne soient pas toutes disponibles.</span>
            </p>
            <p>
                <span>Si l&rsquo;Utilisateur refuse l&rsquo;enregistrement de Cookies dans son terminal ou son navigateur, ou si l&rsquo;Utilisateur supprime ceux qui y sont enregistr&eacute;s, l&rsquo;Utilisateur est inform&eacute; que sa navigation et son exp&eacute;rience sur le Site peuvent &ecirc;tre limit&eacute;es. Cela pourrait &eacute;galement &ecirc;tre le cas lorsque </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996296000&amp;usg=AOvVaw3Xeh7PemNuHp1B4uoET2Vm">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;ou l&rsquo;un de ses prestataires ne peut pas reconna&icirc;tre, &agrave; des fins de compatibilit&eacute; technique, le type de navigateur utilis&eacute; par le terminal, les param&egrave;tres de langue et d&rsquo;affichage ou le pays depuis lequel le terminal semble connect&eacute; &agrave; Internet.</span>
            </p>
            <p>
                <span>Le cas &eacute;ch&eacute;ant, la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; d&eacute;cline toute responsabilit&eacute; pour les cons&eacute;quences li&eacute;es au fonctionnement d&eacute;grad&eacute; du Site et des services &eacute;ventuellement propos&eacute;s par </span>
                <span>
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996297000&amp;usg=AOvVaw18W6MfoCXahjmG8bTzm7rP">https://www.ozeladiversite.com</a>
				</span>
                <span>, r&eacute;sultant (i) du refus de Cookies par l&rsquo;Utilisateur (ii) de l&rsquo;impossibilit&eacute; pour </span>
                <span>
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996297000&amp;usg=AOvVaw18W6MfoCXahjmG8bTzm7rP">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;d&rsquo;enregistrer ou de consulter les Cookies n&eacute;cessaires &agrave; leur fonctionnement du fait du choix de l&rsquo;Utilisateur. Pour la gestion des Cookies et des choix de l&rsquo;Utilisateur, la configuration de chaque navigateur est diff&eacute;rente. Elle est d&eacute;crite dans le menu d&rsquo;aide du navigateur, qui permettra de savoir de quelle mani&egrave;re l&rsquo;Utilisateur peut modifier ses souhaits en mati&egrave;re de Cookies.</span>
            </p>
            <p>
                <span">&Agrave; tout moment, l&rsquo;Utilisateur peut faire le choix d&rsquo;exprimer et de modifier ses souhaits en mati&egrave;re de Cookies. </span>
            </p>
            <p>
                <span>Enfin, en cliquant sur les ic&ocirc;nes d&eacute;di&eacute;es aux r&eacute;seaux sociaux tels que</span>
                <span>,Facebook, Linkedin et Google </span>
                <span>figurant sur le site de </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996298000&amp;usg=AOvVaw3rNAuBEZu95ukeS5OTIU_X">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;ou dans son application mobile et si l&rsquo;Utilisateur a accept&eacute; le d&eacute;p&ocirc;t de cookies en poursuivant sa navigation sur le Site Internet ou l&rsquo;application mobile de </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996298000&amp;usg=AOvVaw3rNAuBEZu95ukeS5OTIU_X">https://www.ozeladiversite.com</a>
				</span>
                <span>, ces r&eacute;seaux sociaux peuvent &eacute;galement d&eacute;poser des cookies sur vos terminaux (ordinateur, tablette, t&eacute;l&eacute;phone portable).</span>
            </p>
            <p>
                <span>Ces types de cookies ne sont d&eacute;pos&eacute;s sur vos terminaux qu&rsquo;&agrave; condition que vous y consentiez, en continuant votre navigation sur le Site Internet de </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996299000&amp;usg=AOvVaw1VWtqLZ10M-FE22e_y2OBU">https://www.ozeladiversite.com</a>
				</span>
                <span>. &Agrave; tout moment, l&rsquo;Utilisateur peut n&eacute;anmoins revenir sur son consentement &agrave; ce que le site </span>
                <span>
					<a href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996299000&amp;usg=AOvVaw1VWtqLZ10M-FE22e_y2OBU">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;d&eacute;pose ce type de cookies.</span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 12.2 - BALISES (&ldquo;TAGS&rdquo;) INTERNET</h5>
            </p>
            <p>
            </p>
            <p>
                <span>Le site</span>
                <span>
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996300000&amp;usg=AOvVaw1zLxio3riGWmcv5vKsKQ4_">&nbsp;</a>
				</span>
                <span>
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996300000&amp;usg=AOvVaw1zLxio3riGWmcv5vKsKQ4_">https://www.ozeladiversite.com</a>
				</span>
                <span>&nbsp;peut employer occasionnellement des balises Internet (&eacute;galement appel&eacute;es &laquo; tags &raquo;, ou balises d&rsquo;action, GIF &agrave; un pixel, GIF transparents, GIF invisibles et GIF un &agrave; un) et les d&eacute;ployer par l&rsquo;interm&eacute;diaire d&rsquo;un partenaire sp&eacute;cialiste d&rsquo;analyses Web susceptible de se trouver (et donc de stocker les informations correspondantes, y compris l&rsquo;adresse IP de l&rsquo;Utilisateur) dans un pays &eacute;tranger.</span>
                <span>&nbsp;</span>
            </p>
            <p>
                <span>Ces balises sont plac&eacute;es &agrave; la fois dans les publicit&eacute;s en ligne permettant aux internautes d&rsquo;acc&eacute;der au Site, et sur les diff&eacute;rentes pages de celui-ci. &nbsp;</span>
            </p>
            <p>
                <span>Cette technologie permet &agrave; la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute; d&rsquo;&eacute;valuer les r&eacute;ponses des visiteurs face au Site, l&rsquo;efficacit&eacute; de ses actions ainsi que l&rsquo;utilisation de ce Site par l&rsquo;Utilisateur. </span>
            </p>
            <p>
                <span>Le prestataire externe pourra &eacute;ventuellement recueillir des informations sur les visiteurs du Site et d&rsquo;autres sites Internet gr&acirc;ce &agrave; ces balises, constituer des rapports sur l&rsquo;activit&eacute; du Site &agrave; l&rsquo;attention de la soci&eacute;t&eacute; Oz&eacute; la diversit&eacute;, et fournir d&rsquo;autres services relatifs &agrave; l&rsquo;utilisation de celui-ci et d&rsquo;Internet.</span>
            </p>
            <p>
                <span>&nbsp;</span>
            </p>
            <p>
            <h5 id="legalTermsTitle">- 13 - Droit applicable et attribution de juridiction</h5>
            </p>
            <p>
                <span>Tout litige en relation avec l&rsquo;utilisation du site </span>
                <span>
					<a class="c9" href="https://www.google.com/url?q=https://www.ozeladiversite.com&amp;sa=D&amp;ust=1611744996301000&amp;usg=AOvVaw1sBTldncgkDox401imRp6F">https://www.ozeladiversite.com</a>
				</span>
                <span">&nbsp;est soumis au droit fran&ccedil;ais. En dehors des cas o&ugrave; la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux comp&eacute;tents de GRENOBLE. </span>
            </p>
            <div class="center">
                <img id="legalImg" src="{{ asset('build/images/logoozé.png') }}" alt="Image Ozé La Diversité avec logo">
            </div>
            <button id="registerBtn" class="btn-center btn btn-bleuOze">{{ button_label|default('Retour à l\'accueil') }}</button>
        </div>
    </div>
{% endblock %}