{% extends 'base.html.twig' %}

{% block title %}Créer une offre d'emploi{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}

    <h1>Créer une offre d'emploi</h1>

    {{ include('offer/_form.html.twig') }}
    <!--<a href="{#{{ path('offer_index') }}#}">back to list</a>-->
{% endblock %}
