{% extends 'base.html.twig' %}

{% block title %}Créer une offre d'emploi{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}

    <h1>Créer une offre d'emploi</h1>

    {{ include('offer/_form.html.twig') }}
    <!--<a href="{#{{ path('offer_index') }}#}">back to list</a>-->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#offer_softSkills').select2({
                maximumSelectionLength: 10
            })
            $('#offer_hardSkills').select2({
                maximumSelectionLength: 10
            });
        });</script>
{% endblock %}