@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $light-color;
    color: $police-color;
}

/*Homepage*/

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
}

#home-list {
    text-align: center;
    width: 50%;
}

#home-list-buttons {
    text-align: center;
    margin: 20px 0;
}