@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

/*Body*/

body {
    background-color: $light-color;
    color: $police-color;
}

/*Homepage*/

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
}

#home-list {
    text-align: center;
    width: 100%;
}

#home-list-buttons {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#diversity1 {
    display: none;
}

@media (min-width: 768px) {
    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 25px;
    }

    #home-list {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #home-list-of-buttons {
        max-width: 100%;
    }

    #home-list-buttons {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 200%;
    }

    #diversity1 {
        display: block;
    }
}