@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $light-color;
    color: $police-color;
}

/* Navbar */
.logoright {
    display: none;
}

.button2 {
    padding: 0;
}

.navbar-nav {
    padding-left: 10px;
}

/* form applicant */
.applicantForm {
    padding: 0 10px 0 10px;
}

@media (min-width: 768px) {
    /* Navbar */
    .logoright {
        display: block;
    }

    .button2 {
        padding: 0 30px 0 30px;
    }

    .navbar-brand {
        padding-right: 30px;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-clairNavbar {
        padding: 0 10px 0 0;
    }
}
