$light-color: #f0efeb;
$police-color: #264653;
$navbar-color: #fffffc;

$theme-colors: (
        "bleuOze": #00C2CB,
        "orangeOze": #FF924D,
        "vertOze": #C9E364,
        "violetOze": #AF0C9E,
        "clairNavbar": #fffffc,
);
