{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Modifier son profil</h1>
    <div class="container" id="createCompanyForm">
        {{ include('company/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    </div>
{% endblock %}
