{% extends 'base.html.twig' %}

{% block title %}Accueil entreprise{% endblock %}

{% block body %}
    <div class="container d-flex flex-column" id="company-home-body">
        <h1 class="d-block text-center">Accueil entreprise</h1>
    {#<a href="#"><button id="create-company-card" type="button" class="d-block btn btn-bleuOze btn-lg align-content-center" >Créer sa fiche entreprise</button></a> #}
        <a class="d-block btn btn-bleuOze btn-lg align-content-center" id="create-company-card" href="#" role="button">Créer sa fiche entreprise</a>
    </div>

    <div class="container d-block" id="announce-list-homecompany">
        <h1 class="text-center">Liste des annonces</h1>
    </div>

    <div class="card container" id="announce-card-homecompany">
        <div class="card-body">
            <h5 class="card-title text-center">Intitulé du poste</h5>
            <p class="card-text">Nombre de candidats matchés : </p>
            <p class="card-text">Nombre de candidatures :</p>
            <a href="#" class="card-link"><button class="btn btn-orangeOze">Voir match</button></a>
            <a href="#" class="card-link"><button class="btn btn-bleuOze">Editer</button></a>
        </div>
    </div>

    <div class="card container" id="announce-card-homecompany">
        <div class="card-body">
            <h5 class="card-title text-center">Intitulé du poste</h5>
            <p class="card-text">Nombre de candidats matchés :</p>
            <p class="card-text">Nombre de candidatures :</p>
            <a href="#" class="card-link"><button class="btn btn-orangeOze">Voir match</button></a>
            <a href="#" class="card-link"><button class="btn btn-bleuOze">Editer</button></a>
        </div>
    </div>

{% endblock %}