{% extends 'base.html.twig' %}

{% block title %}Accueil entreprise{% endblock %}

{% block body %}
    <div class="container d-flex flex-column">
        <h1 class="d-block text-center">Accueil entreprise</h1>
        <button id="create-company-card" type="button" class="d-block btn btn-bleuOze btn-lg" >Créer sa fiche entreprise</button>
    </div>
    <div class="container">

    </div>
{% endblock %}
