{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Create new Company</h1>
    <div id="createCompanyForm">
        {{ include('company/_form.html.twig') }}

        <a class="btn btn-orangeOze" href="{{ path('company_index') }}">back to list</a>
    </div>
{% endblock %}
