{% extends 'base.html.twig' %}

{% block title %}Création de la fiche entreprise{% endblock %}

{% block body %}
    {% include 'company/_navbar.html.twig' %}
    <h1>Créer sa fiche entreprise</h1>
    <div class="container" id="createCompanyForm">
        {{ include('company/_form.html.twig') }}
    </div>
{% endblock %}




