{% extends 'base.html.twig' %}

{% block title %}Mon entreprise{% endblock %}

{% block body %}
    {% include '/company/_navbar.html.twig' %}
    <h1>{{ company.name }}</h1>

    <div class="container-fluid align-content-center" id="companyDetails">
        <img src="https://via.placeholder.com/150/0000FF/808080 ?Text=Digital.com" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
        <h2 class="text-center">Qui sommes-nous ?</h2>
        <p class="text-center">{{ company.description }}</p>
        <h2 class="text-center">Nos Valeurs</h2>
        <p class="text-center">{{ company.csr }}</p>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/372304294.
            sd.mp4?s=68f05e893665288fc91021b717b24292bd326364&profile_id=139&oauth2_token_id=57447761"></iframe>
        </div>
        <a class="btn btn-bleuOze" href="{{ path('company_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
