<div id="home-list-pictures">
    <div id="home-list-picture1">
        <a href="{{ path("home") }}">
            <img id="diversite1" src="{{ asset('build/images/logoNavBar_noBg.png') }}" alt="Image Ozé La Diversité avec logo">
        </a>
    </div>
</div>