{% extends 'base.html.twig' %}

{% block body %}
    {% include 'bundles/TwigBundle/Exception/_errorTemplate.html.twig' %}
    <h1>Erreur</h1>
    <div class="errorMessage flex">
        <p>Une erreur est survenue</p>
        <p><a href="{{ path('home') }}">retourner à l'accueil</a><p>
    </div>
{% endblock %}