{%  extends 'base.html.twig' %}

{% block body %}
    {% include 'bundles/TwigBundle/Exception/_errorTemplate.html.twig' %}

    <h1>Accès interdit</h1>
    <div class="errorMessage flex">
        <p>Vous ne pouvez pas accéder à cette page!</p>
        <p><a href="{{ path('home') }}">retourner à l'accueil</a></p>
    </div>

{% endblock %}