<nav class="navbar navbar-expand-lg navbar-light bg-clairNavbar">
    <a class="navbar-brand" href="#"><img src="{{ asset('build/images/logoNavBar_noBg.png') }}" width="192px" height="74px" alt="logoOze"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav">
                <a id="buttonNav" class="nav-link" href="{{ path('') }}"><button type="button" class="btn btn-orangeOze">Profil</button></a>
            </li>
            <div class="button2">
                <li class="nav-item">
                    <a id="buttonNav" class="nav-link " href="#"><button type="button" class="btn btn-vertOze">Annonce</button></a>
                </li>
            </div>
            {% if app.user %}
            <li class="nav-item ">
                <a id="buttonNav" class="nav-link " href="{{ path('app_logout') }}"><button type="button" class="btn btn-bleuOze">Logout</button></a>
            </li>
            {% endif %}
        </ul>
    </div>
        <div class="logoright">
            <span class="icon-bar"> <img src="{{ asset('build/images/logoNoBg.png') }}" width="90%" height="90%" alt="logo2Oze"> </span>
        </div>
</nav>
