{% extends '_mail_layout.html.twig' %}

{% block mailTitle %}
    Un candidat a postulé à l'une de vos offre.
{% endblock %}
    {% block mailContent%}
        <p class="applicationMailParagraph"> {{ applicant.firstname }} a postulé à votre offre <b>{{ offer.title }}</b>:</p>
        <p class="applicationMailParagraph"><b>sa mobilité</b> : {{ applicant.mobility }}</p>
        <p class="applicationMailParagraph"><b>sa disponibilité</b> {{ applicant.availability }}</p>
        <p class="applicationMailParagraph"> vous invitons à vous rendre sur le site OZEO pour plus de détails et pour contacter le candidat</p>
    {% endblock%}