{% extends 'base.html.twig' %}

{% block title %}Applicant index{% endblock %}

{% block body%}
    <div class="container applicant_index_tuto">
        <h1 class="applicant_home_welcome">Bienvenue!</h1>
        <a href="#"><button type="button" class="btn btn-vertOze">Créez votre profil candidat</button></a>
        <h2>Présentation de OzéO</h2>
        <div class="card">
            <div class="card-body">
                OzéO, est une plateforme digitale intuitive et inclusive, permettant de simplifier l’accès à l’emploi et de recruter différemment.
                Notre but est de faire en sorte que des profils éloignés de l’emploi,
                puissent rencontrer une opportunité grâce à un système de matching ciblant des compétences comportementales et des compétences techniques.
                Faire savoir un savoir faire, recruter une personnalité, Ozéo permettra de rencontrer
            </div>
        </div>
        <h2>Tutoriel sur l'utilisation du site</h2>
        <div class="card">
            <div class="card-body">
                Postea conatibus subito curator qui est baiolorum exustus insaniam praecentor haut baiolorum usque quidam longe quidam expediendum qui curator praecentor ad         </div>
            </div>
        </div>
    </div>

{% endblock %}
