{% extends 'base.html.twig' %}

{% block title %}Applicant index{% endblock %}

{% block body%}
    <!-- mobile -->
    <div class="container applicant_index_tuto">
        <h1 class="applicant_home_welcome_mainTitle">Bienvenue!</h1>
        <a href="{{ path("applicant_new") }}"><button type="button" class="btn btn-vertOze btn_candidateHome_createProfile">Créez votre profil candidat</button></a>
        <div class="card candidate_ozeoPresentationCard">
            <div class="card-body">
                <h5 class="card-title candidate_welcome_title">Présentation de OzéO</h5>
                <p class="card-text">  OzéO, est une plateforme digitale intuitive et inclusive, permettant de simplifier l’accès à l’emploi et de recruter différemment.
                    Notre but est de faire en sorte que des profils éloignés de l’emploi,
                    puissent rencontrer une opportunité grâce à un système de matching ciblant des compétences comportementales et des compétences techniques.
                    Faire savoir un savoir faire, recruter une personnalité, Ozéo permettra de rencontrer le candidat ou l’entreprise qui vous conviendra le mieux.</p>
            </div>
        </div>
        <div class="card candidate_ozeoTutoCard" >
            <div class="card-body">
                <h5 class="card-title candidate_welcome_title">Tutoriel sur l'utilisation du site</h5>
                <br class="card-text"> Oze créer ton profil en cliquant sur le bouton vert ci-dessus<br />
                Navigue dans les annonces qui matchent tes comptétences <br />
                L'entreprise te contacte et te propose un entretien!
                </p>
            </div>
        </div>
    </div>
<!-- desktop -->
<div class="container desktop_candidate_tuto">
    <a href="#"><div class="card desktop_candidate_tutoCard1 row align-self-center">
        <div class="card-body">
            <B>Oze</B> créer ton profil <a href="{{ path("applicant_new") }}"><button type="button" class="btn btn-vertOze btn_candidateHome_createProfileDesktop">ici!</button></a>
        </div>
    </div></a>
    <img src="{{ asset('build/images/fleche.png') }}" alt="flèche">
    <div class="card desktop_candidate_tutoCard2">
        <div class="card-body">
            Navigue dans les annonces qui matchent tes compétences
            et postule!
        </div>
    </div>
    <img src="{{ asset('build/images/fleche.png') }}" alt="flèche">
    <div class="card desktop_candidate_tutoCard3">
        <div class="card-body">
            L'entreprise te contacte et te propose un entretien!
        </div>
    </div>

</div>

{% endblock %}
