{% extends '_mail_layout.html.twig' %}
    {% block mailTitle %}
        Merci de confirmer votre adresse email.
    {% endblock %}
    {% block mailContent%}
        Nous vous remercions pour votre demande d'inscription en tant que candidat.

        En attendant, merci de confirmer votre adresse email en cliquant sur le lien ci-dessous qui expirera dans {{ expiresAt|date('g') }} heure(s) : <br><br>
        Si vous souhaitez supprimer votre compte, merci de contacter l'administrateur<br><br>
        <a href="{{ signedUrl|raw }}" id="confirmationEmail">Confirmer l'adresse email</a>
    {% endblock%}
